@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
canvas {
  /* position: static !important; */
  height: 100vh !important;
  /* border: #fff 2px solid; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* 
.main-card {
  position: relative;
  display: inline-block;
}
.card-container {
  opacity: 0;
  position: absolute;
  top: 0%;
  display: flex;
  align-items:center;
  justify-content: center;
  left: 0%;
  transform: translate(0%, 0%) scale(0);
  transition: opacity 1s ease-in-out;
}

.main-card:hover .card-container {
  opacity: 1;
 
  transform: translate(0%, 0%) scale(1);
  transition: all 0.5s ease-out;
}
 */

.slide-up {
  animation: slide-up 0.5s ease-out;
  animation-fill-mode: forwards;
  transform: translateY(0);
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.typewriter {
  overflow: hidden;
  white-space: pre-wrap; /* Keep the text on one line */
  font-size: 1em; /* Set the font size */
  margin: 0 auto;
  max-width: 450px;
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.main-card {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-container {
  opacity: 0;
  position: absolute;
  /* display: none; */
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s ease-in;
}

.main-card:hover .card-container {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.main-card .card-topRight {
  transition: ease-in 0.5s;
  transform: translate(10%, 0%) scale(0) rotate(0);
}

.main-card:hover .card-topRight {
  transition: ease-out 0.5s;
  transform: translate(110%, -80%) scale(1) rotate(30deg);
}
.main-card .card-topLeft {
  transition: ease-in 1.9s;
  transform: translate(-150%, -60%) scale(0) rotate(-250deg);
}

.main-card:hover .card-topLeft {
  transition: ease-out 0.5s;
  transform: translate(-120%, -70%) rotate(-45deg);
}

.main-card .card-bottomLeft {
  transition: ease-in 0.5s;
  transform: translate(-150%, 100%) rotate(20deg);
}

.main-card:hover .card-bottomLeft {
  transition: ease-out 0.5s;
  transform: translate(-100%, 100%) rotate(20deg);
}

.main-card .card-bottomRight {
  transition: ease-in 0.5s;
  transform: translate(150%, 100%) rotate(-25deg);
}

.main-card:hover .card-bottomRight {
  transition: ease-out 0.5s;
  transform: translate(100%, 100%) rotate(-25deg);
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

html,
#__next {
  height: 100%;
}
body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
::-webkit-scrollbar {
  display: none;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 65px;
  font-size: small;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 99;
  bottom: 140%;
  left: 50%;
  margin-left: -40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.project-card {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: ease-in-out 0.2s;
  transform: rotate(0);
}

.project-card:hover {
  transition: ease-in-out 0.4s;
  transform: rotate(-2deg);
}
